.sidebar .nav-link.active{
    color: #F3735B !important;
}
.sidebar .nav-link.active svg path{
    fill: #F3735B !important;
}


.detailed-asset{
    font-family: 'roboto';
}
.detailed-asset h1{
    font-size: 50px;
    font-weight: 600;
    color: #000;
    margin-top: 100px;
    margin-bottom: 33px;
    margin-left: 25px;
}
.general-info{
    background: rgb(217, 215, 215, 10%);
}
    
.detailed-asset h3{
    font-size: 30px;
    font-weight: 500;
    padding-top: 75px;
    padding-bottom: 52px;
}

.general-info .heading{
    font-size: 26px;
    font-weight: bold;
    color: #1F2B37;
    opacity: .91;
    text-align: center;
    border-bottom: 1px solid #242424;
    padding-bottom: 21px;
    margin-bottom: 12px;
}
.general-info .title,
.general-info .desc{
    font-size: 22px;
    font-weight: bold;
    color: #1F2B37;
    opacity: .91;
    margin-bottom: 8px;

}
.general-info .desc{
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 0;
}
.general-info .detail{
    margin-bottom: 180px;
}


@media (max-width: 991px){
    .general-info .title, .general-info .desc {
        font-size: 18px;
    }
    .general-info .desc {
        font-size: 14px;
    }
    .detailed-asset h1{
        font-size: 42px;
    }
    .general-info .detail {
        margin-bottom: 70px;
    }
    .notes h4 {
        margin-bottom: 70px;
        margin-top: 40px;
    }
}